<form method="post" (ngSubmit)="onSubmit()">
  <div class="imgcontainer">
    <img src="../../assets/img_avatar2.png"  alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="login.userName" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="login.password" required>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
        
    <button (click)="ngSubmit"> CustomerLogin</button>
    <button (click)="ngSubmit">Seller Login</button>
    

    <!-- <button routerLink="/login">Login</button> -->
    
  </div>


</form>
